spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/i_saw_was_i?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${DB_USERNAME:isawuser}
    password: ${DB_PASSWORD:isawpass}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect